.App {
    border: 3px white solid;
    width: 400px;
    height: auto;
    color: white;
    text-align: center;
    padding-block: 30px;
}

.picking {
    margin: 20px auto;
    align-items: center;
}

.picking select {
    appearance: none;
    border: 0;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
}

.legend {
    background: rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    list-style-type: none;
    justify-content: space-between;
}

.legend-opt {
    align-items: baseline;
}

.icon {
    width: 15px;
    height: 12px;
    border-radius: 50% 50% 0 0;
    margin: 0 5px;
}

.icon:hover {
    cursor: pointer;
}

.screen {
    width: 200px;
    height: 70px;
    margin: 30px auto;
    background-color: white;
    transform: perspective(300px) rotateX(-30deg);
    box-shadow: 0 3px 10px rgb(255 255 255 / 70%);
}

.row {
    padding: 3px;
    width: 100%;
    margin: 0 auto;
}
