* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #242333;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Util class */
.flex {
    display: flex;
    justify-content: center;
}

.bg-teal {
    background-color: teal;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: gray;
}
